<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
  <nav>
    <div class="nav-container">
      <ol>
        <li class="header"><a href="{{ url_for('landing') }}">Pašmācību plānu ģenerātors</a></li>
        <div class="pages">
        {% if not logged_in %}
          <li class="page"><a href="{{ url_for('login.login') }}">Autorizēties</a></li>
          <li class="page"><a href="{{ url_for('register.register') }}">Reģistrēties</a></li>
        {% else %}
          <li class="page"><a href="{{ url_for('jauns.jauns') }}">Jauns mācību plāns</a></li>
          <li class="page"><a href="{{ url_for('visi.visi') }}">Visi mācību plāni</a></li>
          <li class="page"><a href="{{ url_for('acc.acc', username=session['username']) }}">{{ session["username"] }}</a></li>
          <li class="page"><a href="{{ url_for('logout.logout') }}">Izlogoties</a></li>
          {% endif %}
        </div>  
      </ol>
    </div>
  </nav>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
  
</body>
</html>
